@import url('https://fonts.cdnfonts.com/css/copperplate');

.navbar {
  display: flex;
  // why overflow hidden?
  overflow: hidden;

  flex-direction: row;

  .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navbar-title {
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold; /* Make it bold */

  display: inline-block; /* Keep the background size compact */
  font-family: Arial, sans-serif; /* Use a clean, bold font */
}
