@import url('https://fonts.cdnfonts.com/css/copperplate');

.navbar {
  display: flex;
  // why overflow hidden?
  overflow: hidden;

  flex-direction: row;

  .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navbar-title {
  font-family: Copperplate;
}
