@import './variables.scss';
@import './utilities.scss';
@import '~bootstrap/scss/bootstrap';

[data-theme='dark'] {
  --background-color: #0a0a0a;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --primary-border-color: #a2a0a0;
  --button-underline-color: rgb(232, 228, 228);
  --loader-color: #f6f6f6;
}
