// commonly used classes
.default-text {
  color: var(--primary-text-color);
  transition: color 250ms ease-in-out;
}

.default-div {
  background-color: var(--background-color);
  transition: background-color 250ms ease-in-out;
}

.custom-border {
  border: 0.05rem solid var(--primary-border-color);
}

.custom-border-bottom {
  border-bottom: 0.05rem solid var(--primary-border-color);
}

.search-bar {
  background: none;
  border: none;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.non-styled-button {
  background: none;
  border: none;
  color: white;
}

.underline-button {
  display: inline-block;
  position: relative;
  // color: #0087ca;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(232, 228, 228);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
