// commonly used classes
.default-text {
  color: var(--primary-text-color);
  transition: color 250ms ease-in-out;
}

.default-div {
  background-color: var(--background-color);
  transition: background-color 250ms ease-in-out;
}

.custom-border {
  border: 0.05rem solid var(--primary-border-color);
}

.search-bar {
  background: none;
  border: none;
}
