:root {
  --background-color: white;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --primary-border-color: #373535;
  --button-underline-color: #373535;
  --loader-color: #373535;

  // shop select button variables
  // this is the variable that determines width of shop selection buttons
  --shop-button-width: 6rem;
  --shop-button-background-color: rgb(201, 201, 201);
}
