:root {
  --background-color: white;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --primary-border-color: #373535;
  --button-underline-color: #373535;
  --loader-color: #373535;
}
